.feedback-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Poppins , sans-serif;
  height: 100vh;
  justify-content: center;
}

.feedback-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
  justify-content: center;
  width: 100vw;
}

.feedback-text {
  color: transparent;
  font-family: Poppins , sans-serif;
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
  margin-left: 3rem;
}

.bad-played {
  animation: red-neon 5s linear infinite;
  -webkit-text-stroke: 3px #bc3232ae;
}

.well-played {
  animation: green-neon 5s linear infinite;
  -webkit-text-stroke: 3px #34bb4dae;
}

.feedback-data-container {
  align-items: center;
  background-color: #1c1f29;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 300;
  height: 30%;
  justify-content: center;
  width: 40%;
}

.feedback-data {
  align-items: center;
  color: #d4d4d4;
  display: flex;
  gap: 1rem;
  justify-content: center;
  line-height: 0.1;
}

.feedback-data-text {
  font-weight: 500;
}

.feedback-data-number {
  font-weight: 200;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  width: 40%;
}

.feedback-button {
  background-color: #1c1f29;
  border: 0;
  border-radius: 0.7rem;
  color: #d4d4d4;
  cursor: pointer;
  flex-basis: 50%;
  font-family: Poppins , sans-serif;
  font-weight: 600;
  padding: 0.8rem;
}

@keyframes red-neon {

  0%, 18%, 20%, 50.1%, 60%, 65.1%, 66% {
    background-color: transparent;
    text-shadow: none;
  }

  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 66.1%, 100% {
    text-shadow: 0 0 10px #872121ae , 0
      0 20px #902121ae , 0
      0 40px #871d1dae , 0
      0 80px #962121ae , 0
      0 160px #9e2121ae , 0
      0 320px #b91010ae , 0
      0 640px #951818ae;
  }
}

@keyframes green-neon {

  0%, 18%, 20%, 50.1%, 60%, 65.1%, 66% {
    background-color: transparent;
    text-shadow: none;
  }

  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 66.1%, 100% {
    text-shadow: 0 0 10px #29931dae , 0
      0 20px #28791fae , 0
      0 40px #1d7d12ae , 0
      0 80px #295823ae , 0
      0 160px #29931dae , 0
      0 320px #1f6717ae , 0
      0 640px #1d5117ae;
  }
}
