section {
  align-items: center;
  background: #161623;
  display: flex;
  flex-direction: column;
  font-family: Poppins , sans-serif;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.ranking-title {
  animation: neon 5s linear infinite;
  color: transparent;
  font-family: Poppins , sans-serif;
  font-size: 8rem;
  font-weight: 800;
  margin: 1% 0 2rem;
  -webkit-text-stroke: 3px #bc3232ae;
}

.ranking-title h3 {
  margin: 0;
}

.box {
  align-items: center;
  background-color: #1c1f29;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  position: relative;
  width: 30%;
  z-index: 10;
}

.box .list {
  align-items: center;
  background-color: #14161e;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.8rem;
  position: relative;
  transition: 0.5s;
  width: 80%;
}

.box .list:hover {
  background: rgba(255, 255, 255, 0.671);
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.464);
  transform: scale(1.15) translateX(30px) translateY(-15px);
  z-index: 1000;
}

.box .list .imgBx {
  border-radius: 10px;
  height: 5rem;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  width: 5rem;
}

.box .list .imgBx img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.box .list .content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box .list .content .rank {
  color: black;
  font-size: 2em;
  position: absolute;
  right: -50px;
  transition: 0.5s;
}

.hashtag {
  font-weight: 500;
  opacity: 0.25;
}

.box .list:hover .content .rank {
  right: 20px;
}

.box .list .content h4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin: 0;
  transition: 0.5s;
}

.box .list .content p {
  font-size: 1.5rem;
  margin: 0;
  transition: 0.5s;
}

.box .list:hover .content h4, .box .list:hover .content p {
  color: #333;
}

.home-button {
  background-color: #1c1f29;
  border: 0;
  border-radius: 0.7rem;
  color: #acacac;
  cursor: pointer;
  font-family: Poppins , sans-serif;
  font-weight: 600;
  margin-top: 4rem;
  padding: 1rem 4rem;
}

@keyframes neon {

  0%, 18%, 20%, 50.1%, 60%, 65.1%, 66% {
    background-color: transparent;
    text-shadow: none;
  }

  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 66.1%, 100% {
    text-shadow: 0 0 10px #872121ae , 0
      0 20px #902121ae , 0
      0 40px #871d1dae , 0
      0 80px #962121ae , 0
      0 160px #9e2121ae , 0
      0 320px #b91010ae , 0
      0 640px #951818ae;
  }
}
